@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font: 1em;
}

.main-head {
    width: 100vw;
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

header{
    background-color: #80deea;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav > ul {
    height: 8vh;
}

ul li {
    list-style: none;
    padding: 0 20px;
    margin-top: 20px;

}

ul li a {
    text-decoration: none;
    color: white;
}

.active {
    color: #000000;
}


footer {
    height: 8vh;
    background-color: #00bcd4;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

